@import './common.scss';

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.app {
    padding-bottom: 5em;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100dvh - 145px);
}

h1 {
    @include title-font;
    margin: .25em 0;
}

.bold {
    font-weight: bold;

    * {
        font-weight: bold !important;
    }
}

.logo {
    width: 50px;
}

form {
    > div {
        margin: .75em 0 0 !important;

        label {
            display: block;
            padding: .5em 0;

            span {
                color: $danger-color;
            }
        }
    }

    .form-error {
        color: $danger-color;
        margin-top: 0;
        margin-bottom: .8em;
    }
}

.passcode-input {
    display: flex;
    justify-content: center;
    align-items: center;

    > .MuiFormControl-root {
        width: 50px !important;

        .MuiInputBase-input {
            font-size: 1.3em;
            text-align: center;
        }
    }

    .otp-slot {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 50px;
        border: 1px rgba(0, 0, 0, 0.23) solid;
        border-radius: 4px;
        font-size: 1.3em;
        text-align: center;
    }

    .otp-slot--active {
        border-color: #1976d2;
    }
}

.Toastify__toast-theme--dark .Toastify__toast-body {
    > div:last-child {
        color: white;
    }
}
